<% include ../partials/_head %>
<% include ../partials/_nav %>

   <h1 class="center"><%= title %></h1>

<div class="container">
  <div class="row">
   <% pirates.forEach(function(pirate){ %>
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img id="pirate-image" src=" <%= pirate.img_url %> "/>
          <span class="card-title">
          </span>
        </div>
        <div class="card-content">
          <h4>
           <%= pirate.username.split('@')[0].charAt(0).toUpperCase() + pirate.username.split('@')[0].slice(1).toLowerCase()%>
          </h4>
          <p>Near: <%= pirate.zipcode %></p>
        </div>
        <div class="card-action">
          <a href="/pirates/<%= pirate._id %>">Pirate Page</a>
        </div>
  </div>
  </div>
  <% }); %>
  </div>
  </div>

<% include ../partials/_footer %>
