<% include ../partials/_head %>
<% include ../partials/_nav %>

   <h1 class="center"><%= title %>
    <%= pirate.username.split('@')[0].charAt(0).toUpperCase() + pirate.username.split('@')[0].slice(1).toLowerCase()%>!
   </h1>

<div class="container">
  <div class="row">
   <% treasures.forEach(function(treasure){ %>
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <a href="/treasures/<%=treasure.id %>"><img id="treasure-image" src=" <%= treasure.img_url %> "/>
          </a>
          <span class="card-title">
               <p><%= treasure.name %></p>
          </span>
        </div>
        <div class="card-content">
          <p><%= treasure.description %></p>
          <p><%= treasure.street %></p>
          <p><%= treasure.city %></p>
          <p><%= treasure.state %></p>
          <p><%= treasure.zipcode %></p>
        </div>
  </div>
  </div>
  <% }); %>
  </div>
  </div>

<% include ../partials/_footer %>
