<% include ../partials/_head %>
<% include ../partials/_nav %>
   <h1 class="center"><%= user.username.split('@',1)%>! <%= title %></h1>
<div class="container">
<div class="row">
  <div class="col s6 offset-s3">
<div class="card">
  <div class="card-image">
    <img src=" <%= treasure.img_url %> "/>
    <span class="card-title">
         <p><%= treasure.name %></p>
    </span>
  </div>
  <div class="card-content">
    <%= treasure.description %>
    <%= treasure.street %>
    <%= treasure.city %>
    <%= treasure.state %>
    <%= treasure.zipcode %>
  </div>
  <div class="card-action">
    <a href="/treasures/<%=treasure._id %>/edit">Edit Treasure</a>
  </div>
</div>
</div>
</div>
  </div>
<% include ../partials/_footer %>
