<% include ../partials/_head %>
<% include ../partials/_nav %>
<h1 class="center"><%= title %>
<%= pirate.username.split('@')[0].charAt(0).toUpperCase() + pirate.username.split('@')[0].slice(1).toLowerCase()%>!
</h1>
<div class="container">
  <div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-image">
          <img id="treasure-show-image" src=" <%= treasure.img_url %> "/>
          <span class="card-title">
            <p><%= treasure.name %></p>
          </span>
        </div>
        <div class="card-content">
          <p>
            <%= treasure.description %>
          </p>
          <p>
            <%= treasure.cross_street %>
          </p>
          <p>
            <%= treasure.city %>
          </p>
          <p>
            <%= treasure.state %>
          </p>
          <p id="zipCode">
            <%= treasure.zipcode %>
          </p>
        </div>
        <div class="card-action">
          <form method="GET" action="/treasures/<%= treasure._id %>/edit" >
            <button class="waves-effect waves-light btn left blue" type="submit">Edit Treasure</button>
          </form>
          <form method="POST" action="/treasures/<%= treasure._id %>?_method=DELETE">
            <button class="waves-effect waves-light btn right red" type="submit">Delete Treasure</button>
          </form>
          <br><br>
        </div>
      </div>
    </div>

    <div class="col s6" id="map">
      <script type="text/javascript" src="/javascripts/google-maps.js"></script>
    </div>
  </div>

  <div class="parallax-container comment-board">
    <div class="col s12">
      <div class="chat-area">
        <h3>Pirate Talk Inside</h3>
      </div>
    </div>
    <span class="center">
    <!-- <form class="chat-input-div center" accept-charset="utf-8"> -->
      <i class="material-icons prefix left">mode_edit</i>
      <label for="textarea1">Pirate Talk</label><br>
      <input id="textarea1" class="materialize-input chat-input" length="120">
      </input>
      <button class="waves-effect waves-light btn yellow">ARRgh</button>
    <!-- </form> -->
        <script>
            document.getElementById('textarea1').addEventListener('keypress', function(event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                }
            });
        </script>
  </div>
    <br><br>
  </div>
</div>
</div>
</div>

<div class="parallax-container foot">
  <div class="parallax">
    <img src="https://images.unsplash.com/photo-1417444900330-dc44c79af021?q=80&fm=jpg&s=83b3780f886b71ea31393032ce4caf9a">
  </div>
</div>
<footer class="black center">
  &copy; 2015 Sidewalk Sailors
</footer>
<!--Import jQuery before materialize.js-->
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoexb3TQB9EoG0phPDzO0fqO6q467mbPg&callback=initMap">
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src='/javascripts/client.js'></script>
<script type="text/javascript" src="/bower_components/materialize/dist/js/materialize.min.js"></script>
<script type="text/javascript" src="/bower_components/slick-carousel/slick/slick.min.js"></script>
<script type="text/javascript" src="/javascripts/slick.js"></script>
<script type="text/javascript" src="/javascripts/materialize.js"></script>
  </body>
</html>

