<% include ../partials/_head %>
<% include ../partials/_nav %>
<h1 class="center"><%= title %>
<%= pirate.username.split('@')[0].charAt(0).toUpperCase() + pirate.username.split('@')[0].slice(1).toLowerCase()%>!
</h1>
<div class="container">
  <div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-image">
          <img id="treasure-show-image" src=" <%= treasure.img_url %> "/>
          <span class="card-title">
            <p><%= treasure.name %></p>
          </span>
        </div>
        <div class="card-content">
          <%= treasure.description %>
          <%= treasure.cross_street %>
          <%= treasure.city %>
          <%= treasure.state %>
          <%= treasure.zipcode %>
        </div>
        <div class="card-action">
          <form method="GET" action="/treasures/<%= treasure._id %>/edit" >
            <button class="waves-effect waves-light btn left blue" type="submit">Edit Treasure</button>
          </form>
          <form method="POST" action="treasures/<%= treasure._id %>?_method=DELETE">
            <button class="waves-effect waves-light btn right red" type="submit">Delete Treasure</button>
          </form>
          <br><br>
        </div>
      </div>
    </div>

    <div class="col s6 google-maps">
      <h3>This is where Google Maps API goes</h3>
    </div>
  </div>

  <div class="parallax-container comment-board">
    <div class="col s12">
      <div class="chat-area">
        <h3>This is the comment/live chat board</h3>
      </div>
    </div>
    <span class="center">
    <form action="/#" class="chat-input-div center" method="POST" accept-charset="utf-8">
      <i class="material-icons prefix left">mode_edit</i>
      <label for="textarea1">Pirate Talk</label><br>
      <input id="textarea1" class="materialize-input chat-input" length="120"></input>
      <button type="submit" class="waves-effect waves-light btn yellow">ARRgh</button>
    </form>
  </div>
    <br><br>
  </div>
</div>
</div>
<% include ../partials/_footer %>
